/*nav bar styling*/
.nav-wrapper{
  background-color: #8D26FF;
}

/*nav bar stling end*/
/*main section*/

.heading{
  color: blue;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
/*body icons*/
