/*nav bar styling*/
.nav-wrapper{
  background-color: #8D26FF;
}

/*nav bar stling end*/
/*main section*/

.heading{
  color: blue;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
/*body icons*/
/*footer*/
.page-footer{
 color:#8D26FF!important;
}
.footer_links li{
  display:inline;
}
